<img class="logo" src="../../../assets/image/companyLogo.png" alt="Company Logo">
<div class="navigation-buttons-wrapper">
   <a href="https://rastmobile.com/en/about">Hakkımızda</a>
   <a href="https://rastmobile.com/en/products/jury-competition-software">Jüri - Yarışma Yazılımı</a>
   <a href="https://rastmobile.com/en/products/word-ninja   ">Word Ninja</a>
   <a href="https://rastmobile.com/en/products/word-pyramids">Word Pyramids</a>
</div>
<div class="media-buttons-wrapper">
   <div class="media-button">
      <img class="icon" src="../../../assets/icon/youtube.png" alt="Youtube Link Button">
   </div>
   <div class="media-button">
      <img class="icon" src="../../../assets/icon/instagram.png" alt="Instagram Link Button">
   </div>
   <div class="media-button">
      <img class="icon" src="../../../assets/icon/behance.png" alt="Behance Link Button">
   </div>
   <div class="media-button">
      <img class="icon" src="../../../assets/icon/linkedin.png" alt="Linkedin Link Button">
   </div>
</div>
