:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.06rem 5.25rem 2.5rem 4.6875rem;
  height: 100%;
}

.navigation-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  width: 100%;
  height: 100%;
  
}

.media-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 0.875rem;

  flex: 10;
  width: 100%;
  height: 100%;
}

.media-button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 1.125rem;
  width: 1.125rem;
  background-color: #744BFC;
  border-radius: 1.95px;
}

.icon {
  background-color: #ffffff;
}

a {
  color: black;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
}