:host {
   flex: 1;
   display: block;
   box-sizing: border-box;
   width: 100%;
   padding: 3.0625rem 4.5625rem 2.5625rem 4.5625rem;
   background: rgb(239, 242, 255);
   background: linear-gradient(180deg,
         rgba(239, 242, 255, 1) 0%,
         rgba(232, 236, 255, 0.4) 100%)
}

.table-wrapper {
   height: 100%;
}