<div class="table-wrapper">
   <table-functions [tableData]="tableData" (displayedData)="onSearch($event)" (openModalClicked)="openModal($event)"></table-functions>
   <dx-data-grid #grid [ngStyle]="{'height': '28rem'}" id="gridContainer" [dataSource]="displayedData"
      [showColumnLines]="true" [showRowLines]="false" [showBorders]="true" [rowAlternationEnabled]="true"
      [hoverStateEnabled]="true"
      [paging]="{pageIndex: currentPageIndex, pageSize: currentPageSize}"
      [pager]="{ visible: false, showPageSizeSelector: false, allowedPageSizes: 'auto' }">
      <dxo-scrolling [useNative]="true">
      </dxo-scrolling>
      <dxi-column [width]="400" dataField="Sosyal Medya Linki" [allowSearch]="true"></dxi-column>
      <dxi-column [width]="280" dataField="Sosyal Medya Adı" [allowSearch]="true"></dxi-column>
      <dxi-column dataField="Açıklama" sortingMethod="none" [allowSearch]="true"></dxi-column>
   </dx-data-grid>

   <table-pagination [tableLength]="tableData.length" (emitPaginationData)="updatePaginationData($event)"></table-pagination>
</div>