<div class="table-wrapper">
   <div class="table-functions-wrapper">
      <div class="left-side-wrapper">
         <form [formGroup]="myForm" class="search-box">
            <input formControlName="searchText" class="search-input"  placeholder="Search objects..." type="text">
            <button class="search-icon-button">
               <i class="dx-icon-search"></i>
            </button>
         </form>
         <div class="filter">
            <fa-icon class="filter-icon" [icon]="faFilter"></fa-icon>
         </div>
      </div>
      <div class="add-button" (click)="openModal()">
         <i class="dx-icon-add"></i>
         <p class="add-text">Yeni Hesap Ekle</p>
      </div>
   </div>
   <dx-data-grid #grid [ngStyle]="{'height': '28rem'}" id="gridContainer" [dataSource]="displayedData"
      [showColumnLines]="true" [showRowLines]="false" [showBorders]="true" [rowAlternationEnabled]="true"
      [hoverStateEnabled]="true"
      [paging]="{pageIndex: currentPageIndex, pageSize: currentPageSize}"
      [pager]="{ visible: false, showPageSizeSelector: false, allowedPageSizes: 'auto' }">
      <dxo-scrolling [useNative]="true">
      </dxo-scrolling>
      <dxi-column dataField="Sosyal Medya Linki" [allowSearch]="true"></dxi-column>
      <dxi-column dataField="Sosyal Medya Adı" [allowSearch]="true"></dxi-column>
      <dxi-column dataField="Açıklama" sortingMethod="none" [allowSearch]="true"></dxi-column>
   </dx-data-grid>
   <div class="table-pagination-wrapper">
      <div class="left-pagination-wrapper">
         <p class="pagination-amount-selector-label">Show:</p>
         <div class="pagination-amount-selector">
            <p class="row-amount-text">{{currentPageSize}} rows</p>
            <div class="arrow-wrapper">
               <div class="icon-up-wrapper" (click)="increasePageSize()">
                  <img src="../../../assets/svg/arrow_up.svg" alt="Arrow Up SVG">
               </div>
               <div class="icon-down-wrapper" (click)="decreasePageSize()">
                  <img src="../../../assets/svg/arrow_down.svg" alt="Arrow Down SVG">
                  <!-- <fa-icon class="icon-down" [icon]="faDown"></fa-icon> -->
               </div>
            </div>
         </div>
      </div>
      <div class="paginator-wrapper">
         <i class="dx-icon-chevronleft" [ngClass]="{'passive': (currentPageIndex === 0)}" (click)="previousPage()"></i>
         <input class="current-page" type="number" [value]="currentPageIndex + 1" (input)="setCurrentPage($event)">
         <p class="divider">of</p>
         <p class="total-page-number">{{totalNumberOfPages}}</p>
         <i class="dx-icon-chevronnext" [ngClass]="{'passive': this.currentPageIndex === (this.totalNumberOfPages - 1)}" (click)="nextPage()"></i>
      </div>
   </div>
</div>