<div class="menu-close">
   <fa-icon class="menu-button" [icon]="faBarsStaggered" (click)="toggleSidebar()"></fa-icon>
</div>
<div *ngIf="Breakpoints.Medium" class="navigation-buttons-wrapper">
   <a href="https://rastmobile.com/en/about" target="_blank">Hakkımızda</a>
   <a href="https://rastmobile.com/en/products/jury-competition-software" target="_blank">Jüri - Yarışma Yazılımı</a>
   <a href="https://rastmobile.com/en/products/word-ninja" target="_blank">Word Ninja</a>
   <a href="https://rastmobile.com/en/products/word-pyramids" target="_blank">Word Pyramids</a>
</div>
<div *ngIf="Breakpoints.Medium" class="media-buttons-wrapper">
   <a href="https://www.youtube.com/channel/UC9zhWu89h4AqolHrVspLkVw" target="_blank">
      <fa-icon class="media-button" [icon]="faYoutube"></fa-icon>
   </a>
   <a href="https://www.instagram.com/mobilerast/" target="_blank">
      <fa-icon class="media-button" [icon]="faInstagram"></fa-icon>
   </a>
   <a href="https://www.behance.net/rastmobile" target="_blank">
      <fa-icon class="media-button" [icon]="faBehance"></fa-icon>
   </a>
   <a href="https://www.linkedin.com/company/rastmobile/" target="_blank">
      <fa-icon class="media-button" [icon]="faLinkedIn"></fa-icon>
   </a>
</div>