.notification {
   position: fixed;
   top: 10px;
   right: 10px;
   
   background-color: #fff;
   color: #fff;
   border-radius: 13px;
   filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
   padding: 16px;
   margin-bottom: 10px;

   font-size: 16px;
   width: 300px;
   z-index: 1000;
}

.success {
   background-color: #28a745;
}

.error {
   background-color: #dc3545;
}

.warn {
   background-color: #ffc107;
}